//Basic product grid handled in grid.scss

.af__primary-content__product {
    padding:1rem;
    clear:both;
}

.af__breadcrumb--preheader {
    max-width:auto;
    margin:0;
    &::after {
        content:' \f054';
        font-family:fontAwesome;
        font-size:11px;
        
    }
}
.af__breadcrumb--primary-header {
    margin:0;
}


/* #################################

PRODUCT GRID

################################# */


.af__primary-content__products {
    list-style:none;
    margin:0;
    padding:0;  

}

.af__product__name {
    margin:0 0 0.5rem 0;
}

p.af__product__price, p.af__product__offer {
    margin:0;
    
}

.af__product__offer  {
    @include font-full(11, $header-text);
    font-style:italic;
    font-weight:bold;
}


.af__primary-content__product {
    position:relative;
    padding-bottom:5rem;
}

.af__product__add-to-basket{
    position:absolute;
    bottom:0;
    left:0.5rem;
    right:0.5rem;
    padding:0.5rem 1rem;
    background-color:$light-grey;
    border-bottom:1px solid $mid-grey;
    text-align:center;
    
    input, input[type=number] {
        width:3rem;
        margin-right:0.5rem;
        font-weight:bold;
    }
    button {
        background-color:$black;
        color:$white;
        border:none;
        border-radius:3px;
        cursor:pointer;
        &:focus, &:active {
            background-color:green;
        }
    }
    input, button {
        font-size:13px;
        padding:0.5rem;
        height:2rem;
        line-height:1;
    }
    .af__product__basket-count {
        position:absolute;
        bottom:100%;
        right:3px;
        @include font-full(10, $header-text, $bottom-margin:false);
        margin-bottom:-3px;
        
    }
    
}

@media screen and (min-width:$med-breakpoint) {
    .af__primary-content__products {
        display:flex;
        flex-wrap:wrap;
    }
    .af__primary-content__product {
        flex-basis:auto;
        width:50%;
        flex-grow:0;
        flex-shrink:0;
    }
}


.af__primary-content__product {
    min-height:13rem;
     @media screen and (min-width:$large-breakpoint) {
         width:33.33%;   
    }
    @media screen and (min-width:$x-large-breakpoint) {
         width:25%;   
    }
}


.af__product__link--image {  
    display:block;
    position:relative;
    outline:1px solid $mid-grey;
    border:5px solid #fff;
    background-color:$light-grey; 
    float:left;
    width:135px;
    height:100px;
    overflow:hidden;
    box-shadow:0 0 1px 2px rgba($black, 0.05);
    margin-right:1.5rem;
    @media screen and (min-width:$med-breakpoint){
        width:100%;
        height:0;
        padding-top:62%;
        margin-bottom:1rem;
        margin-right:0;
    }  
}

.af__product__discount {
    position:absolute;
    top:-50px;
    right:-80px;
    color:$white;
    background-color:$black;
    border:1px solid $white;
    width:150px;
    padding:0px;
    text-align:center;
    @include font-full(11, $navigation-text, $bottom-margin:false); //21.034  
    transform: rotate(42deg);
    transform-origin:top left;
}

/* #################################

FILTERS COLUMN 

################################# */

.af__supplemental__filters { 
    display:none;
    padding:1rem;
    @media screen and (min-width:$big-breakpoint) {
        display:block;
    }
  
    label {
        display:block;
        margin-bottom:0.5rem;
        font-weight:bold;        
    }
    input {
        margin-right:0.25rem;
    }
}


/* #################################

BASKET STYLING

################################# */

.basket-wrapper {
    padding:0.25rem 1rem; 
    float:left;
    display:inline-block;
    width:100%;
    padding-right:100px;
    @media screen and (min-width:$sml-med-breakpoint){
        text-align:center;
        float:none;
        display:block;
        padding:1rem;
    }
}

.af__basket__checkout {
    display:block;
    background-color:$black;
    color:$white;  
    @include font-full(13, $navigation-text, $bottom-margin:false);
    padding:0.25rem 0.5rem;
    text-decoration:none;
    border-radius:5px;    
    position:absolute;
    top:1.5rem;
    right:1rem;
    .lrg-only {
        display:none;
    }
    @media screen and (min-width:$sml-med-breakpoint){
         position:static;  
          padding:0.5rem;
        .lrg-only {
            display:inline;
        }
    }
    
    &:active, &:focus {
        background-color:green;
    }
  
    &::after {
        content:'\f138';
        font-family:fontAwesome;
        margin-left:0.5rem;
    }  
    @media screen and (min-width:$sml-med-breakpoint){
         float:none;  
         margin-top:1rem; 
    }
}


.af__basket__weight-guide--label {
     display:none;
     @media screen and (min-width:$sml-med-breakpoint){
         @include font-full(13, $navigation-text, $bottom-margin:false);
        font-weight:bold;
        text-align:center;
        display:block;
    }
}

.js-af__weight-guide__wrapper {
    width:100%;
    border:1px solid $mid-grey;
    padding:0.125rem;
    position:relative;
    background-color:$white;
    margin-bottom:0;
    background: repeating-linear-gradient( // courtesy Chris Coyier / CSS-tricks
      -55deg,
      #f3f3f3,
      #f3f3f3 10px,
      $white 10px,
      $white 20px
    );  
    
    @media screen and (min-width:$sml-med-breakpoint){
       padding:0.25rem; 
    }
}
.js-af__weight-guide__meter {
    background-color:orangered;
    width:0%;
    border:1px solid $white;
    height:12px;
    display:block;
    transition:all 250ms ease;
}


.af__basket__weight-guide--cta {
    font-size:10px;
    text-align:left;
    margin:0;
    @media screen and (min-width:$sml-med-breakpoint){
        text-align:center;
    }
}


.af__basket__weight-guidance {
    display:none;
    @media screen and (min-width:$sml-med-breakpoint){
        @include font-full(12, $header-text, $bottom-margin:false);
        color:$black;
        text-decoration:none;
        color:#009;
        position:relative;
        top:1rem;
        &::after {
            content:'\f059';
            font-family:fontAwesome;
            margin-left:0.25rem;
        }
    }
}

