//###################### SIZES ########################//

/*
Modular scale @ golden mean
http://modularscale.com/scale/?px1=16&px2=13&ra1=1.618&ra2=0
144.156	9.01	9.01	1,108.892
109.657	6.854	6.854	843.515
89.095	5.568	5.568	685.346
67.773	4.236	4.236	521.331
55.065	3.442	3.442	423.577
41.887
41.887
34.033	
25.888	
21.034	
16.000	
13.000	 // magic number
9.889
*/


// ###################### DECLARATIONS  ################### //
// everything is proportional to this html font size

html {   
      font-size:$doc-font-size*0.8125 +px; 
        @media screen and (min-width:$med-breakpoint){
            font-size:$doc-font-size*0.9 +px; 
    }
        @media  screen and (min-width:$big-breakpoint) {
        font-size:$doc-font-size+px;
    }
}


h1 {
    @include font-full(41.887, $header-text);
}



h2 { 
    @include font-full(21.034, $header-text);
    font-weight:600;
//    margin-bottom:0.66em;
}

    


h3, caption {
    @include font-full(16, $header-text, $bottom-margin:false);
     font-weight:600;
      //  padding-top:1rem;
     //color:$header-colour; 
   
}

h4 {
    @include font-full(14, $header-text, $bottom-margin:false);
    //color:$header-colour;
      //  padding-top:1rem;
     font-weight:600;
}


p, ol, dl, ul {
    @include font-full(15, $content-text);
    color:$copy-colour;
}

.content--wrapper ul, .content--wrapper  ol {
    margin-left:$gutter;
}


ul, ol {
     @media screen and (max-width:$med-breakpoint) {
         list-style-position: inside;
     }
}

dt {
     font-weight:600;   
}






/*###################################################
                       LINKS
################################################### */

/*###################################################
                      HEADER
################################################### */

nav  {
     @include font-full(15, $navigation-text, $bottom-margin:false); //21.034  
}


/*###################################################
                       FORM
################################################### */


label {
    @include font-full(12, $header-text);
    //font-weight:600;
    //color:darken($divider-colour,25%);
}
