/* ######################################################### */
/*                CALLS TO ALL THE PARTIALS                  */
/* ######################################################### */
@import "../portfolio-dev/sw-app-sass-oct-14/_reset";
@import "../portfolio-dev/sw-app-sass-oct-14/_variables-global";
@import "../portfolio-dev/sw-app-sass-oct-14/_helpers";
@import "../portfolio-dev/sw-app-sass-oct-14/_utilities";
@import "../portfolio-dev/sw-app-sass-oct-14/_mixins";
@import "../portfolio-dev/sw-app-sass-oct-14/_navigation";
@import "../portfolio-dev/sw-app-sass-oct-14/_typography";
@import "../portfolio-dev/sw-app-sass-oct-14/_buttons";
@import "../portfolio-dev/sw-app-sass-oct-14/_tables";
@import "../portfolio-dev/sw-app-sass-oct-14/_icons";
@import "../portfolio-dev/sw-app-sass-oct-14/_forms";

.input__slider input{
    border:none;
    padding:8px;
    box-shadow:none;

}

.input__slider i {
    font-style:normal;
   position:absolute;
    right:0;
    top:2.8em;
    width:$column*1.5;
}


.weight-group, .dob-group {
    margin-top:2em;
    position:relative;
    text-align:center;
    border:1px solid darken($divider-colour, 10%);
    background-color:lighten($highlight-colour, 27%);
    padding:0;
    display:inline-block; // force the fieldset to
    max-width:none; // over ride the inherited set max width
    transition:$default-transition;
    &.active {
        background-color:#fff;
    }

    legend {
        position:absolute;
        top:-1.65em;
        @extend label;
    }

    input, select, option {
        //outline:none;
        border:0;
        box-shadow:none;
        width:auto;
        margin:0;
        text-align:center;
        background-color:transparent;
                &:focus {
                      background-color:lighten($highlight-colour, 23%);
                    //outline:2px solid lighten($highlight-colour, 23%);
                }
            }


    input {
        width:3em;
        max-width:none;
        text-align:center;
    }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

    abbr {
        padding:$gutter/2 $gutter $gutter/2 $gutter/4;
    }
}


.select--unit {
     padding: $gutter/2 0;
     margin:0;
     color:#666;
}
    .input--weight-value {

    }


.weight-group.focused {
    background-color:#fff;
    box-shadow: 0px 0px 4px 0px $highlight-colour;
}


.dob-group {
     .input--year {
            width: 4.25em;
            }

    .input--day {
        &::after {
            content:'g';
        }
    }
}
