</main>

<footer role="contentinfo">

           <h2 class="footer--made-with__title">Made with</h2>
            <ul class="footer--links__made-with">
                <li class="footer--links__made-with__github"><a href="https://github.com/brtdesign/brtdesign.github.io/" title="Github">Github</a></li>
                <li class="footer--links__made-with__sass"><abbr title="Syntactically Awesome StyleSheets"><a href="http://sass-lang.com/">SASS</a></abbr></li>
                <li class="footer--links__made-with__brackets"><a href="http://brackets.io" title="Brackets">Brackets</a></li>
                <li class="footer--links__made-with__tea"><a href="http://en.wikipedia.org/wiki/ISO_3103" title="Tea - Strong, skimmed milk, no sugar. Thanks.">Tea</a></li>
            </ul>

            <p class="footer--copyright">&copy; 2014</p>

</footer>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/min/brtdesign.min.js"></script>

    {{ page.footer-scripts }}


</body>

</html>
