<header role="banner" class="home">
        <div class="wrapper">
            <section class="site-branding">
               <a href="{{ site.baseurl }}/" class="logo">brt design</a>
               <p class="site-description">{{ site.description }}</p>
            </section>

            <nav role="navigation" class="{{ page.page-class }}">
                <ol>
                    <!--  considered  order, therefore <ol> -->
                    <li class="nav-item_home"><a href="{{ site.baseurl }}/">Home</a>
                    </li>
                    <li class="nav-item_work"><a href="{{ site.baseurl }}/work">Work</a></li>
                    <li class="nav-item_blog"><a href="{{ site.baseurl }}/blog">Blog</a>
                    </li>
                    <li class="nav-item_about"><a href="{{ site.baseurl }}/about">About me</a>
                    </li>
                    <li class="nav-item_contact"><a href="{{ site.baseurl }}/contact">Contact</a>
                    </li>
                </ol>
            </nav>
        </div>
 </header>


<main role="main" class="content--wrapper home">