/* ######################################################### */
/*                CALLS TO ALL THE PARTIALS                  */
/* ######################################################### */
@import "../portfolio-dev/sw-app-sass-oct-14/_reset";
@import "../portfolio-dev/sw-app-sass-oct-14/_variables-global";
@import "../portfolio-dev/sw-app-sass-oct-14/_helpers";
@import "../portfolio-dev/sw-app-sass-oct-14/_utilities";
@import "../portfolio-dev/sw-app-sass-oct-14/_mixins";
@import "../portfolio-dev/sw-app-sass-oct-14/_navigation";
@import "../portfolio-dev/sw-app-sass-oct-14/_typography";
@import "../portfolio-dev/sw-app-sass-oct-14/_buttons";
@import "../portfolio-dev/sw-app-sass-oct-14/_tables";
@import "../portfolio-dev/sw-app-sass-oct-14/_icons";
@import "../portfolio-dev/sw-app-sass-oct-14/_forms";



.input__slider input{
    border:none;
    padding:8px;
    box-shadow:none;

}

.input__slider i {
    font-style:normal;
   position:absolute;
    right:0;
    top:2.8em;
    width:$column*1.5;
}

.standard-label {
    float:left;
    clear:both;

}

fieldset.narrative {
    margin-bottom:1.618rem;
}

fieldset.weight-group, fieldset.dob-group, fieldset.dob-group-3,  fieldset.weight-group-2, fieldset.weight-group-3 {
    position:relative;
    text-align:center;
    border:1px solid darken($divider-colour, 10%);
    background-color:lighten($highlight-colour, 27%);
    padding:0;
    display:inline-block; // force the fieldset to
    float:left;
    clear:both;
    max-width:none; // over ride the inherited set max width
    transition:$default-transition;

        &.active {
            background-color:#fff;
        }

    legend {
        position:absolute;
        top:-1.65em;
        @extend label;
    }

    input, select, option {
        //outline:none;
        border:0;
        box-shadow:none;
        width:auto;
        margin:0;
        text-align:center;
        background-color:transparent;
                &:focus {
                      background-color:lighten($highlight-colour, 20%);
                    //outline:2px solid lighten($highlight-colour, 23%);
                }
            }


    .input__weight-group {
        width:3em;
        max-width:none;
        text-align:center;
        //border:1px solid #ccc;
    }

//    /.input__weight-group

      .input__weight-group[type=number]::-webkit-inner-spin-button,
      .input__weight-group[type=number]::-webkit-outer-spin-button,
     .input__dob-group[type=number]::-webkit-inner-spin-button,
       .input__dob-group[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

    abbr {
        padding:$gutter/2 $gutter $gutter/2 $gutter/4;
    }
}


.select--unit {
     padding: $gutter/2 0;
     margin:0;
     color:#666;
}
    .input--weight-value {

    }

.weight-group {
    select {
      //  color:#900;
       // text-decoration:underline;
    }
}


.weight-group.focused, .dob-group.focused, .weight-group-2.focused {
    background-color:#fff;
    box-shadow: 0px 0px 4px 0px $highlight-colour;
}


.dob-group {
    clear:both;

    .input--day {

        &:after {
           // doesnt work on inputs
        }
    }
}

.dob-label {
    clear:both;
}

/*
##############################################
you details 1 and 2
##############################################
*/

.details__name--input, .details__name--label {
    display:inline-block;
    clear:none;
    width:48%;
    max-width:220px;
}


/*
##############################################
you dob 1
##############################################
*/

fieldset.dob-group-1 {
     padding-right:0px;
}

.dob-group  {
    .input__dob-group {
         width:4em;
    }
     .input--year {
         width:5em;
   }
}

/*
##############################################
your weight 2
##############################################
*/

fieldset.weight-group-2 {
    i {
        font-style:normal;
    }
    min-width:80px;
    padding-right:4px;
    legend {
        width:100%;
        min-width:220px;
    }
    .select--unit {
        position:absolute;
        left:6em;
        top:0em;
        padding: 3px 0;
        text-align: right;
        display:inline;
        clear:none;
        background-color:transparent;
        color:#009;
        text-decoration:underline;
    }
}

/*
##############################################
your weight 3
##############################################
*/

fieldset.weight-group-3, fieldset.dob-group-3  {

    border:none;
    background-color:#fff;
        .input__weight-group, .select--unit, .input__dob-group {
        width:3em;
        max-width:none;
        text-align:center;
        border:1px solid darken($divider-colour, 10%);
        background-color:lighten($highlight-colour, 27%);
            @extend input;

            &:focus {
                background-color:#fff;
            }
    }

    .select--unit  {
        width:6em;
        padding-top:10px;
        padding-bottom:10px;
    }



//    /.input__weight-group

      .input__weight-group[type=number]::-webkit-inner-spin-button,
      .input__weight-group[type=number]::-webkit-outer-spin-button,
     .input__dob-group[type=number]::-webkit-inner-spin-button,
       .input__dob-group[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

    abbr {
        padding:$gutter/2 $gutter $gutter/2 $gutter/4;
    }

    .input--year {
        width:4.5em;
    }

}
