// ################################################ //
//                  PAGE GRID BASICS  
// Deals with all aspects of position, not strictly just the grid.
// ################################################ //

body {
    //padding:0 $gutter/2 $gutter/2;
}


main, footer {
    display:block;
    margin:auto;
    width:100%;
    max-width:$full-width;
    overflow:hidden; // clearfix
}

header {
    width:100%; 
    text-align:center;
    margin-bottom:1.618rem;
    position:relative; // for position:absolute on nav at resolution $full-width
    float:left; // contain floated children

} 
    .logo, .site-description, nav { 
        display:block;
        margin:0; // over write for the header   
    }

// close header

// .fixed-header Gets to body added via Javascript on scroll
    .fixed-header {
        padding-top:68px; // this is the height of the header - gets added to the body so the transition when starting scroll is smoother
        header {
        position:fixed;
        top:0;
        left:0;
        right:0;
        z-index:1999;

               .logo {
                  font-size:175%; 
                }
                .site-description {
                     display:none;
                }
                nav {
                // bottom:0;
                  border-right:1px solid rgba(255,255,255,0.1);
                }
          }
     }

    // the a that wraps the logo tag line etc
.site-branding {
        @include create-percentage($ratio-lower,  no-block);
        float:left;
        display:inline-block;
            
}

// these are set to a max width in pixels so they fit exactly at the $full-width set in the _variables partial
// this allows the header to be full width and these to sit in the centre of that without requiring an extra wrapper

// the main content area
.content__primary {
    @include create-percentage($ratio-upper);
    float:left;
}
    // single column 'reading view'. Markup defined in _includes/default.html
    .content-primary__single-column {
           // will inherit width from .content__primary
            float:none;
            margin:auto;
        
            @media screen and (min-width:540px) and (max-width:$big-breakpoint){
                margin:auto $column/2;
                width:auto;
            }
    }
// the sidebar area
.content__supplemental {
    @include create-percentage($ratio-lower);
    float:right;
}

nav {
    @include create-percentage($ratio-upper, no-block);
    display:inline-block;
   //background-color:rgba(0,0,0,0.1);


    
    // this eleemnt wants to align to the top when the site-branding is floated, and to the bottom when its not (which is at full-width)
    // so we need to force it to be bottom aligned always to level the playing field
    // the offset it to centralise vertically
    
    position:absolute;
    bottom:0;
    right:0;

     

    ol {
        @include flexbox();
        
        >li { 
         flex:auto; 
         align-items:center; // vertical center to parent
         text-align:center; // horizontal align 
        }
    }
}


/*######################################################*/
/*           HEADER ELEMENT MEDIA QUERY TWEAKS          */
/*######################################################*/

@media screen and(min-width:$sml-breakpoint){
          nav {
              ol {

              }
          }
    }

@media screen and(min-width:$full-width){
        .site-branding, nav {
            float:none; // required to make these align centrally without the use of an additional wrapper
            position:relative; // overwrite the absolute set above
           }
    }



@media screen and(max-width:$sml-breakpoint){
        .site-branding, nav {
            float:none; // prevent the transition
            display:block;
            position:relative;
            width:100%;
            max-width:100%;
            transform:none;
        }

    .fixed-header .logo {
        display:none;
    }
    

 }



blockquote, .callout {
     @include create-percentage($ratio-upper, no-block);
     border:$simple-border;
     float:right;
     margin:1.618rem;
     margin-right:-$column;
    
    @media screen and (max-width:$big-breakpoint) {
         @include create-percentage($ratio-lower, no-block);
         margin-right:0;   
    }
}


/*##########################################################
                
            OFFSET POST HEADERS FOR SINGLE COLUMN

##########################################################*/

 @media screen and (min-width:$big-breakpoint){
        h1,  .post--head__subhead, .post--meta {
          margin-left:-$column;
          margin-right:-$column;  
        } 
    }







