// ################################################ //
//                  PAGE GRID BASICS  
// Deals with all aspects of position, not strictly just the grid.
// ################################################ //

body {
     //padding-top:96px;
  //  min-height:100%;
}


main, .wrapper {
    display:block;
    clear:both; // FF needs this to be explicit on the <main>
    margin:auto;
    width:100%;
    max-width:$full-width;
   // overflow:hidden; // clearfix
}

.wrapper {
    overflow:hidden; // clearfix
}

header, footer {
    width:100%; 
    text-align:center;
    margin-bottom:1.618rem;
    float:left; // contain floated children
} 

// at lower resolution we need to maximise the screen space available, so only fix the header when there is a decent resolution
@media screen and (min-width:$big-breakpoint) {
      header { 
                position:fixed; 
                top:0;
                left:0;
                right:0;
                z-index:99;
          }
        .content--wrapper {
             margin-top:96px;
 
            
            &.home  {
                margin-top:328px;   
            }
        }
    }

    footer {
         margin-bottom:0; 
         margin-top:1.618rem;
         padding:1.618rem;
    }
    .wrapper {
        position:relative;   
            //outline:1px solid #f00;
    }
        .logo, .site-description, nav { 
            display:block;
            margin:0; // over write for the header   
        }
        
        .site-branding { // the a that wraps the logo tag line etc
                @include create-percentage($ratio-lower,  no-block);
                float:left;
                padding:$gutter/2 0;
        }

        nav {
            @include create-percentage($ratio-upper, no-block);
            position:absolute;
            bottom:0;
            right:0; 
                ol {
                    @include flexbox();
                    >li { 
                     flex:auto; 
                     align-items:center; // vertical center to parent
                     text-align:center; // horizontal align 
                    }
                }
            }

// the main content area
.content__primary {
    @include create-percentage($ratio-upper);
    float:left;
           
}
     .content-primary__multi-column {
      
         @media screen and (min-width:$med-breakpoint){
             padding-left:$gutter; 
         }
         
         @media screen and (min-width:$big-breakpoint){
             padding-left:$column; 
         }
         
          .image--header {
           
            
                 @media screen and (min-width:$med-breakpoint){
                         margin-left:-$gutter; 
                     }
         
                 @media screen and (min-width:$big-breakpoint){
                         margin-left:-$column;
                     }
              
               img {
                 width:100%;   
                   
              }
         }
     }

figure {
    display:block; 
    margin:auto;
    margin-bottom:1.618rem;
    border-bottom:1px solid $divider-colour;
    
    img {
        padding:$gutter/4;
        border:1px solid darken($divider-colour, 15%);  
        max-width:100%;
        background-color:#fff;
    }
    


}

    // single column 'reading view'. Markup defined in _includes/default.html
    .content-primary__single-column {
           // will inherit width from .content__primary
            float:none;
            margin:auto;
        
            @media screen and (min-width:$med-breakpoint) and (max-width:$big-breakpoint){
                margin:auto $column/2;
                width:auto;
            }
    }

// the sidebar area
.content__supplemental {
    @include create-percentage($ratio-lower);
    float:right;
}




/*######################################################*/
/*           HEADER ELEMENT MEDIA QUERY TWEAKS          */
/*######################################################*/



@media screen and(max-width:$sml-breakpoint){
        .site-branding, nav {
            float:none; // prevent the transition
            display:block;
            position:relative;
            width:100%;
            max-width:100%;
            transform:none;
            padding-bottom:0;
        }


 }



.callout {

    padding:$gutter/2;
    border-bottom:1px solid $divider-colour;
    margin-bottom:1.618em;
         @media screen and (min-width:$sml-breakpoint) {
             margin-left:$gutter;
             margin-right:$gutter;   
         }
        @media screen and (min-width:$med-breakpoint) {
        margin-right:-$column/2;
        @include create-percentage($ratio-lower);
        float:right;
    }
    
        @media screen and (min-width:$big-breakpoint) {

                   margin-right:-$column;
        }
    
    
    code {
         margin: $gutter/2 0;   
    }
}




/*##########################################################
            OFFSET POST HEADERS FOR SINGLE COLUMN
##########################################################*/

 @media screen and (min-width:$med-breakpoint){
     
 .posts-list {
        margin-left:-$column/2; // make the list fill the width so we get a decent border. Feels a bit of a hack
        margin-right:-$column/2;
        padding-left:$column/2;
        padding-right:$column/2;
           h2, .post__index--header__subhead { 
             margin-left:-$column/4;  
            }  
     }
     
       h1,  .post--head__subhead, .post--meta {
          margin-left:-$column/4;
          margin-right:-$column/4;  
        } 
          .post--meta--date, .post--meta--author {
                padding-left: $column/4; // there is a conflict somewhere with margins and padding - this is a quick fix to just make it work.
                padding-right: $column/4;
            }
        }

// not much room to back up into at this size

 @media screen and (min-width:$big-breakpoint){
     .posts-list {
        margin-left:-$column; // make the list fill the width so we get a decent border. Feels a bit of a hack, but works flawlessly.
        margin-right:-$column;
        padding-left:$column;
        padding-right:$column;
           h2,  .post__index--header__subhead  { // indent the h2 when its in the blog index page 
                 margin-left:-$column/2;  
            }  
     }
        h1,  .post--head__subhead, .post--meta {
          margin-left:-$column;
          margin-right:-$column;  
        } 
     
    }


/*######################################################*/
/*            CONTACT FORM (POWERED BY BRACE.IO)        */
/*######################################################*/

.contact--form {
    @media screen and (min-width:$med-breakpoint) {
     margin:$gutter $column/2;   
    }
}


/*######################################################*/
/*                         HOME PAGE                    */
/*######################################################*/
header.home {

   & .wrapper {
         text-align:center;   
    }
    & .site-description {
            margin-top:1em;
    }
  &  nav, .site-branding {
        float:none;
        display:block;
        position:relative;
        margin:auto;
        text-align:center;      
          }
    }






