header {
 //font-size:400%;   
}

.content__primary--home {
        padding:0  $gutter;
    outline:1px solid #f00;
    
    margin-left:0;
        
    @media screen and (min-width:$full-width){
         padding:0 $column;  
                h1 {
        // margin-left:-$gutter; 
        }
    }
}

.content__supplemental {
    border-left:1px solid $divider-colour;   
}

     


.home {

    & .logo {
      @include font-size(67.778); 
        text-shadow:0px 5px 0px lighten($base-colour, 20%) , 0px 8px 0px rgba(darken($base-colour, 30%), 0.45), 0px 3px 36px rgba(#000, 0.75); 
        margin:auto;
    }
        .site-description {
            text-align:center;
                &::after, &::before {
                    // width:$gutter;   
                }
            }
    nav {
         width:100%;   
    }
}

/* h3 */ .homepage--posts__header {
     margin-bottom:0; 
    margin-top:1.618rem;
}

.homepage--posts__latest{
     time {
         top:0;
         line-height:1;
     }
    .post--snippet {
         @include font-full(13, $content-text); 
    }
    
    .read-more {
         clear:both; 
       
    } 
}

.home--posts--header {
     @include font-size(16);   
   // font-weight:normal;
    margin-left:0;
}
