// ################################################ //
//                  external links                     //
// ################################################ //

a[href*="//"]:not([href*="brtdesign.co.uk"])  { // any link where the  href atrib contains double slash but isnt an internal absolute link
    position:relative; // so we can use pos abs on the generated content
    &:hover, &:focus {
        &::before {
            content:attr(href);
            position:absolute;
            top:-2.25em;
            left:-50%;
            box-shadow:1px 2px 2px rgba(#000, 0.65);
            background-color:$base-colour;
            color:$divider-colour;
            padding:$gutter/4;
            @include font-full(13, $content-text, $line-height-modifier:0.75);
            font-weight:normal;
           
            }
        }  
}

a.read-more { // used for live demos of project work
          &:hover, &:focus {
                &::before {
            display:none;
                }   
          }
    }

nav {
    @extend %default-transition;
    opacity:0.5; 
    
        @media screen and (max-width:$sml-breakpoint) {
                bottom:$gutter/4;
        }
   

    &:hover, &:focus {
     opacity:1;  
    }
 }
    
    nav a {
        @extend %default-transition;
        color:#999;
        display:block;
        padding:4px;
        border:1px solid transparent; // so we can add a border on hover without changing the calcualted size
        background-color:transparent;

        &:hover,:active,:focus {
           @extend %active-nav; 
            border-color:transparent;
            outline:none;
            
        }
        :active {
            outline:1px solid rgba(255,255,255,0.2);   
        }
    }

.blog-post .nav-item_blog a, .blog-index .nav-item_blog a, .about .nav-item_about a, .contact .nav-item_contact a, .home .nav-item_home a, .work .nav-item_work a{
        @extend %active-nav;
        color:#fff;   
}

.blog-index .nav-item_blog a {
         cursor:pointer;   
}


.sub-nav {
     @include font-full(16, $header-text); 
    font-weight:600;

    & li {
           
    }
    
    & a {
        display:block;
        padding:$gutter/2 0 $gutter/2  $gutter;
        border-bottom:1px dotted $divider-colour;
        color:darken($divider-colour, 20%);
        position:relative;
        
        &:hover, &:active, &:focus {
             color:$accent;  
        }
        
        &:hover, &:active, &:focus,  {
             &::before {
                content:'\2192';
                position:absolute;
                left:0;
            }  

        }
    }
}

.social {
 margin:1.618em 0;

}


/* .sub-nav */ .responsive-email .work--sub-nav__responsive-email, .sw-7-day-menu .work--sub-nav__weekly-menu, .form-inputs .work--sub-nav__form-inputs,  .sw-homepage .work--sub-nav__sw-hp {
                    &::before {
                                    content:'\2192';
                                    position:absolute;
                                    left:0; 
                                    opacity:0.75;
                             }
                    }