

nav {
    opacity:0.5;   
    transition:all $default-timing;
    }

    :hover {
     opacity:1;  
    }
    
    nav a {
        color:#999;
        display:block;
        padding:4px;
        border:1px solid transparent; // so we can add a border on hover without changing the calcualted size
        background-color:transparent;
        transition:all $default-timing;
        &:hover,:active,:focus {
           @extend %active-nav; 
            border-color:transparent;
            outline:none;
            
        }
        :active {
            outline:1px solid rgba(255,255,255,0.2);   
        }
    }

.blog-post .nav-item_blog a, .blog-index .nav-item_blog a, .about .nav-item_about a, .contact .nav-item_contact a{
        @extend %active-nav;
        color:#fff;   
}

.blog-index .nav-item_blog a {
 cursor:pointer;   
}