

nav {
    opacity:0.5;   
    transition:all $default-timing;
    }

    header:hover nav {
     opacity:0.9;  
    }
    
    nav a {
        color:#999;
        display:block;
        padding:4px;
        
        &:hover,:active,:focus {
            color:#fff;
                 
        
        }
    }

.blog-post .nav-item_blog a, .about .nav-item_about a{
        color:#fff;   
        //border-bottom:2px solid rgba(255, 255, 255, 0.25);
        border:1px solid rgba(255,255,255,0.15); 
        border-top:1px solid rgba(255,255,255,0.25); 
        background-color:rgba(255,255,255,0.10); 
        border-radius:1px;

}
