//###################### SIZES ########################//

/*
Modular scale @ golden mean
http://modularscale.com/scale/?px1=16&px2=13&ra1=1.618&ra2=0
144.156	9.01	9.01	1,108.892
109.657	6.854	6.854	843.515
89.095	5.568	5.568	685.346
67.773	4.236	4.236	521.331
55.065	3.442	3.442	423.577
41.887
41.887
34.033	
25.888	
21.034	
16.000	
13.000	 // magic number
9.889
*/


// ###################### DECLARATIONS  ################### //
// everything is proportional to this html font size

html {
      font-size:$doc-font-size*0.8125 +px; 
        @media screen and (min-width:$med-breakpoint){
        font-size:$doc-font-size*0.9 +px; 
    }
    
        @media  screen and (min-width:$big-breakpoint) {
        font-size:$doc-font-size+px;
    }
}

h1 {
    @include font-full(41.887, $header-text); 
}

    // pre-header for when we need small text prior to the main header. Attached to an <em>.
/* em */   .pre-header {
       @include font-size(16); 
       font-style:normal;
       clear:both;
       color:$copy-colour;
       display:block;
       margin-bottom:0;
    }



h2 { 
// was 34 normal
    @include font-full(21.034, $header-text);
    font-weight:600;
  //  padding-top:1rem;
    //color:$header-colour;
}

    
// #### CUSTOM HEADER for when we have a subhead #### //
// we dont use subhead and pre-head together, we should be able to say what we need without using both
.post--head__primary, .post__index--header__primary {
    //  margin-bottom:0.25em;
    margin-bottom:0em;
}
 /* p */   .post--head__subhead {
                @include font-full(21.034, $header-text);
            }

 /* p */   .post__index--header__subhead {
                    @include font-size(13);        
            }

/* h2 em */ .header--inline-note{
                    @include font-size(13);
                    font-style:normal;
            }
    
    .home--head__subhead, .home--head__primary {
         font-weight:400;
            margin-left:0;
    }

.home--head__primary {
 margin-bottom:0;   
}


h3, caption {
    @include font-full(16, $header-text);
     font-weight:600;
      //  padding-top:1rem;
     //color:$header-colour;    
}

h4 {
    @include font-full(16, $header-text);
    //color:$header-colour;
      //  padding-top:1rem;
}

p, ul {
    @include font-full(16, $content-text);
    color:$copy-colour;
    
        @media screen and (max-width:$sml-breakpoint) {
            line-height:1.35;  // tighten up  a little to fit more content on the smaller screen 
        }
}



code {
    background-color:$divider-colour; 

        strong {
             color:$accent;   
        }
    
    &.block {
     display:block;
   // margin-top:0; // inherit fromt he preceding paragraph
     padding:$gutter/2;

    
    }

    &.inline {
        display:inline;  
        border:none;
        margin:0;
    }
}


figcaption {
     @include font-full(13, $header-text, $bottom-margin:0);   
}
/*###################################################
               SPECIAL CHARS
################################################### */

.ampersand {
        font-weight:normal;
}

/*###################################################
                       LINKS
################################################### */
main a {

    color:$link-colour;
    @extend %default-transition;
    &:hover, :active, :focus {
        color:darken($link-colour,25%);
    }
}

    .read-more, .contact--form__submit {
       //float:left;
        display:inline-block;
        clear:both;
        min-width:$column;
        text-align:center;
        @include font-full(13, $content-text, $bottom-margin:false);
        padding:$gutter/8 $gutter/2; // just keeping a sense of proportion
        color:#fff;
        background-color:$accent;
        border:1px solid $divider-colour;
        border-radius:$radius;
        cursor:pointer;
            &:hover, :active, :focus {
            border-color:darken($divider-colour,3%);
            background-color:lighten($accent,10%);  
            color:#fff;
        }
    }

/*###################################################
                      HEADER
################################################### */

nav  {
     @include font-full(16, $navigation-text, $bottom-margin:false); //21.034
}

.logo {
       // @include font-full(34.033, $header-text, 0.75, $bottom-margin:false); //412 looks good with this font
        @extend %default-transition;
        //font-family:Monoton;
        font-family:'Alfa Slab One';
      //  @include font-size(25.888);
        @include font-size(34.888);
        color:#fff;
        text-align:center;
        display:inline-block;
        text-shadow:1px 3px 0px lighten($base-colour, 20%) , 2px 4px 0px darken($base-colour, 30%) ;
        color:rgba(#fff, 0.75);
        line-height:0.85;
        letter-spacing:1px;
        @extend %default-transition;
            &:hover { // sorry about this (not sorry)
                //@extend %text-gradient-animate;
                text-shadow:none;
                color:#fff;
                
            }
        }

.site-description {
  @include font-full(13, $header-text, $bottom-margin:false); //21.034     
    font-weight:600;
    width:100%;

    &::after, &::before {
        content:' ';
        border-bottom:2px dotted #fff;
        width:$gutter/2;
        display:inline-block;
        position:relative;
        top:-4px;
        opacity:0.3;
        margin-left:5px;
        margin-right:5px;
        }
    }

    @media screen and (min-width:$big-breakpoint) {
  

            .fixed-header {
               .logo {
                    font-size:175%; 

                    }
                   .site-description {
                          display:none;
                     }   
                }
    }

/*###################################################
                QUOTES, CALLOUTS  & figures
################################################### */

/* blockquote */ .callout__quote {
    p {
        @include font-full(25.888, $callout-text, $bottom-margin:false, $line-height-modifier:1.25);
        color:#333;
        padding:0  $gutter $gutter/2 $gutter;
             &::before {
                content:'\201C';   
                font:4rem/1 georgia, "times new roman", serif;
                float:left;
                display:inline-block;
                margin-left:-$gutter*1.5;
                 margin-top:-0.1em;
            }
            &::after {
                content:'\201D';   
                font-family:georgia, "times new roman", serif;
                font-size:4rem;
                float:right;
                display:inline-block;
                margin-right:-$gutter*1.5;
                margin-top:-0.15em;
            }
        }
    }

                .intro__quote {
                           margin:0 (-$gutter);
                }



    cite {
        @include font-full(13, $content-text);
        font-weight:600;
        text-align:right;   
        display:block;
        //border-top:1px solid $divider-colour;
        
        &::before {
                content:"\2014 \00A0"; /* mdash nbsp */
                color:#999;
        }
    }
/*
.post--intro {
    text-indent:-2px;
            &::first-letter {
                font:350% / 0.85 georgia, serif;
                float:left;
                padding:0 3px; // offset the indent
                position: relative;
                left: -2px;
                bottom:-4px;
                color:$accent;
            } 
        }

*/

.callout {
     p {
         @include font-full(11, $callout-text, $line-height-modifier:0.75);
         font-weight:600;
         margin-bottom:0.5em;
     }
    code {
        font-size:13px;
 
    }
}

/* h3 */ .callout--header__note {
        margin:(-$gutter/2) (-$gutter/2)-2px 0.5em (-$gutter/2)-2px;
        @include font-size(13);
        outline:2px solid #fff;
        //background-color: darken($divider-colour, 5%);
        background-color: lighten($base-colour, 0%);
        color:#fff;
        //font-style:italic;
        padding:$gutter/4;
}



/* figure */ .callout__figure {
                   img {
                    display:block;
                    margin:auto;
                    padding:$gutter/2;
                    outline:1px solid $divider-colour;
                    background-color:#fff;
                    width:100%;
                    max-width:168px;
                }
                figcaption {

                    max-width:168px;
                    margin:0.5em auto;
                    
                }
            }

/* p */ .callout--full {
                margin:auto $gutter;
                display:block;
                width:auto;
                max-width:100%;
                margin-bottom:1.618rem;
            }

/*###################################################
                       BLOG
################################################### */



.site-description {
       color:$accent;
       text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
 }



.post--meta {
    @include font-full(13, $small-text); // set this here so we can inherit the bottom margin from the calculation
    border-top:1px solid $divider-colour;
    border-bottom:1px solid $divider-colour;
    padding:1px 6px;
    position:relative; // use position:absolute on child elements
    } 
    .post--meta--date {
        color:$accent;
            @media screen and (min-width:$big-breakpoint){
                  padding:1px $column/2;  
            } 
        }

        .post--meta--author {
            position:absolute;
            font-size:80%;
            right:0;
            margin:0;
            bottom:6px; // The shame of a magic number
            color:$base-colour;
            em {
                margin-right:3px;
                opacity: 0.6;
                font-style:normal;
                }
             @media screen and (min-width:$big-breakpoint){
                margin-right:$column/2;   
             }
        }

 sup { // date suffix
    vertical-align:super; // overriding from partials/reset.scss  
    font-size:80%;
    letter-spacing:1px;
 }



/*###################################################
                       BLOG INDEX
################################################### */

.posts-list {

    .pre-header {
        @include font-size(13);
        margin-bottom:0.5em;
        font-weight:300;
    }
    
    li {
        border-top:1px solid $divider-colour;
        padding:$gutter 0;
        float:left; // contain floated children
        width:100%;
        position:relative;
        
    }
}

/* p */ .post--snippet {
 
}


.post__index--meta--date {
// by setting the line height and margin to zero, we remove this from the flow of the vertical rhythm, which as its so visually 'light' and of secondary importance in this context is what we want. i.e. the relationship between the header and the paragrpha remains natural between those 2 elements. This just happens to be in the middle.
     @include font-full(13, $content-text, $line-height-modifier:0, $bottom-margin:false);
     display:block;
     color:#bbb;
     position: relative; // nudge it in to position by eye
     top:-12px;
     top:-0.75rem;
     left:0;
}
    
/*###################################################
                      CONTACT FORM
################################################### */


label {
    @include font-full(16, $header-text);
    //font-weight:600;
    //color:darken($divider-colour,25%);

}

 .contact--form__email, .contact--form__message {
    @include font-full(16, $header-text, $bottom-margin:false);
    width:100%;
    border:2px solid darken($divider-colour, 20%);
    background-color:lighten($divider-colour,15%);
    margin-bottom:$gutter;
    padding:$gutter/4;
    font-weight:600;
    outline:none;
    @extend %default-transition;
     
     &:focus {
         outline:none;
         border-color:$accent;
         background-color:#fff;
     }
 }

.contact--form__message {
     height:12em;   
}


/*###################################################
                        WORK
################################################### */
 
.work__footer--note {
     text-align:center;
    @include font-full(16, $navigation-text);
    padding:$gutter;
    border-top:1px solid $divider-colour;
}
