
// ###################### DECLARATIONS  ################### //
//@mixin font-full($size, $content-type, $line-height-modifier:1, $weight:'') 

html {
   font-size:$doc-font-size+px;
}


h1 {
    @include font-full(41.887, $header-text);
    
}
    .logo {
        @include font-full(34.033, $header-text, 0.75);
        margin-bottom:0;// over write for the header
        text-align:left;
        display:block;
    }
    
    // pre-header for when we need small text prior to the main header. Attached to an <em>.
   .pre-header {
       @include font-size(16); 
       font-style:normal;
       // text-transform:uppercase;
       clear:both;
       color:$copy-colour;
       display:block;
       margin-bottom:0;
    }

h2 {
    @include font-full(34.033, $header-text, 0.75);
}

// #### CUSTOM HEADER for when we have a subhead #### //
.post--head__primary, .post--head__secondary {
           margin-bottom:0;
}
    .post--meta--date {
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        width:100%;
        padding:6px;
        text-align:center;
    }

h3 {
    @include font-full(25.888, $header-text);
}

h4 {
    @include font-full(21.034, $header-text);
}

h5 {
    @include font-full(16, $header-text);
}

p, ul {
    @include font-full(16, $content-text);
    color:$copy-colour;
}

    p+p, .callout+p {
         text-indent:1ex;
    }


.post--intro {
     //@include font-full(25.888, $content-text);
    text-transform:uppercase;
}



.post--meta--date {
    display:block; // <time> element is inline by default 
    @include font-full(13, $small-text);
}



blockquote, .callout {
    p, ul {
        @include font-full(21.034, $callout-text);
        margin-bottom:0;
    }
}


nav  {
     @include font-full(21.034, $callout-text);
}
 

