
$site-root:'http://localhost/brtdesign.github.io/_site/';

// ################################################ //
//                     PAGE GRID                    //
// ################################################ //

$full-width:960px; // max-width would just get confusing. Can take any value and unit pair

$ratio-upper:8;
$ratio-lower:4;

$column:$full-width/($ratio-upper+$ratio-lower);

$gutter:20px; // adds a padding of half this to to all columns. Which will give an absolute gutter of this value

$radius:3px;

$doc-font-size:16;

$doc-line-height:$doc-font-size*1.618;

$big-breakpoint:720px;

$med-breakpoint:$full-width/2;

$sml-breakpoint:400px;

// ################################################ //
//                     FONTS                        //
// ################################################ //

// ######## FONT STACKS  ######## //

$header-text:
    'Open Sans',  arial, sans-serif; 

$content-text:
    'Source Sans Pro', verdana, sans-serif; 

$navigation-text:Oswald, impact, sans-serif;

$callout-text:
  // Oswald, impact, sans-serif;
    $header-text;
   // cambria, georgia, serif;

$small-text:
    unquote('
        Oswald, impact, sans-serif; 
        ');

// ######## BASE FONT SIZING  ######## //




/*

@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 

      Retina-specific stuff here 
  }
*/

/* ####### SW REFERENCE:
    1.  768x1024	
	2.	320x568	
	3.	1366x768	
	4.	320x480	
	5.	360x640	
	6.	1280x800	
	7.	1280x1024	
	8.	1920x1080	
	9.	1024x768	

*/

/*
Fibonacci:

1,1,2,3,5,8,13,21,34,55...

*/

//$proportion:1.625; // 13/8 




// ################################################ //
//                     BORDERS                       //
// ################################################ //
        
$simple-border: 
        unquote('
        
        1px solid #ccc;
        border-radius:2px;
        
        ');
        

// ################################################ //
//                     COLOURS                      //
// ################################################ //

$copy-colour: #333;
        
$accent:#b95518;
        
$base-colour:#2a3250;
        
$header-colour:lighten($base-colour, 20%);  

$link-colour:$accent;

$header-link-colour:lighten($base-colour, 20%);  
        
$divider-colour:#ececec;

$light-highlight:#f6f6f6;

$callout-colour:$light-highlight;

// ################################################ //
//                  NAVIGATION                     //
// ################################################ //


%active-nav {
        border:1px solid rgba(255,255,255,0.15); 
        border-top:1px solid rgba(255,255,255,0.25); 
        outline:2px solid rgba(0,0,0,0.2);
        background-color:rgba(255,255,255,0.10); 
        border-radius:1px; 
}


// ################################################ //
//                    ANIMATIONS                    //
// ################################################ //
// basic keyframes animation default timing
$default-timing:150ms;

%default-transition {
 -moz-transition:all $default-timing ease-out; // changed from in-out , as we want an immedaite response, not even a slight delay
transition:all $default-timing ease-out;
    
}


// # KEYFRAME ANIMATION DEFINITIONS
@-webkit-keyframes basic-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes basic-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes basic-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes basic-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

// Used on logo:hover for rainbow laces weekend 13/09/2014. think i might keep it for a while.
@-webkit-keyframes rainbow-laces {
    0% {background-position:0 0;}
    100% {background-position:0 190px;
    }
}

%text-gradient-animate {
                   background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#8033aa), color-stop(10%,#c42727), color-stop(30%,#e88a2c), color-stop(50%,#f7d827), color-stop(70%,#65bc70), color-stop(90%,#6361b5), color-stop(100%,#8033aa));
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
                -webkit-animation-name: rainbow-laces;
                -webkit-animation-duration: 2s;
                -webkit-animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
}
