---
layout: default
page-class: blog-post
---


    {% if page.subhead %}
       <h1 class="post--head__primary">{{ page.title }}</h1>
       <h2 class="post--head__subhead">{{ page.subhead }}</h2>
    
           {% else %}
      <h1 class="post--head">{{ page.title }}</h1>
          {% endif %}
        
    <time class="post--meta--date" datetime="
{{ page.date | date: "%Y-%m-%d" }}">
        {{ page.date | date: "%B %e, %Y" }}
    </time>
    
    
        
        {{ content }}
    


    {% include disqus.html disqus_identifier=page.disqus_identifier %}
